 
.cr-switch-event-flyout {
	.modal_popup {
		.modal-dialog {
			width: 886px;
			max-height: inherit;
		}
	}
	.cr-se-card {
		padding: 12px;
		border: 1px solid $black-20-color;
		.checkmark {
			position: absolute;
			left: -12px;
			top: -12px;
			color: $dark-grey;
		}
		.event_alert {
			* {
				color: $conflict-color;
			}
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 6px 12px;
			border: 1px solid $black-20-color;
			gap: 10px;
			background: $white;
		}
		.head {
			border-bottom: 1px solid $black-20-color;
			padding-bottom: 8px;
			.btn-group.w-auto {
				display: flex;
				min-width: fit-content;
			}
			button.btn {
				padding: 0;
			}
			.rsdt {
				color: #7D7D7D;
			}
			span.date {
				border-left: 1px solid #7D7D7D;
				padding-left: 5px;
				margin-left: 4px;
			}
		}
		.content {
			.se-list {
				list-style: none;
				padding: 0;
				margin: 0;
				display: flex;
				flex-direction: column;
				gap: 4px;
				.lbl {
					color: $black-60-color;
				}
				.val {
					color: $black-100-color;
				}
			}
		}
        &.disabled {
            background: $bg-grey;
        }
        &.disabled.completed {
            border: 1px solid $dark-grey;
            position: relative;
        }
	}

}
